@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");
:root {
  font-family: "Quattrocento Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

@media (orientation: portrait) {
  :root {
    font-size: 1.75vw;
  }
}

@media (orientation: landscape) {
  :root {
    font-size: 1vh;
  }
}

#root {
  z-index: 0;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: white;
}

#root::after {
  z-index: 1;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100rem;
  height: 100rem;
  background: rgba(159, 187, 121, 0.74);
  border-radius: 50%;
  transform: translate(50%, 50%);
}

.App {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.Logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65vw;
  height: 50vw;
}

.Logo .logoBg {
  background-image: url("../Assets/img/bg-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  top: 47%;
  opacity: 0;
}

.Logo .logoImg {
  background-image: url("../Assets/img/SellektywniLogoPNGTransparent.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 60%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 6;
  opacity: 0;
  transform: scale(0);
}

.Logo {
  z-index: 3;
  visibility: hidden;
}

.ProductsList {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 7rem;
  overflow: hidden;
}

.ProductsList .list {
  width: 76%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding: 4rem;
  overflow: scroll;
  overflow-x: hidden;
  list-style: none;
}

.ProductsList .list li {
  width: 45rem;
  height: 60rem;
  max-width: 45rem;
  max-height: 60rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.ProductsList .list li .titleContainer {
  display: inline-flex;
  align-items: center;
  width: 30rem;
  padding: 1rem;
  gap: 1rem;
}

.ProductsList .list li .titleContainer .colorDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(183, 204, 155, 0.74);
}

.ProductsList .list li .titleContainer .title {
  font-weight: normal;
  font-size: 3rem;
}

.ProductsList .list li .imgContainer {
  width: 30rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.ProductsList .list li .imgContainer img {
  max-width: 100%;
  max-height: 100%;
}

.ProductsList .list li .descContainer {
  font-size: 2rem;
  width: 30rem;
}

.ProductsList .list li .descContainer .buttonsContainer {
  padding: 1rem;
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
}

.ProductsList .list li .descContainer .desc {
  padding: 1rem;
}

.ProductsList {
  z-index: 7;
}

.ContentWrapper {
  z-index: 6;
  overflow: hidden;
  padding-bottom: 5rem;
  max-height: 100vh;
  opacity: 0;
  height: 0;
}

.Navigation {
  width: 100%;
  top: 0;
  position: relative;
  opacity: 0;
}

.Navigation div .links-wrapper {
  border-radius: 50%;
}

.Navigation div:nth-child(3), .Navigation div:nth-child(4) {
  backdrop-filter: blur(2px);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.MainTabs {
  background: rgba(159, 187, 121, 0.74);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-radius: 0 0 5px 5px;
  font-size: 3rem;
}

.MainTabs button {
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.MainTabs :hover {
  background: rgba(134, 170, 87, 0.74);
}

.MainTabs {
  z-index: 15;
}

.SecondNav {
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  font-size: 1.6rem;
  position: absolute;
  top: 0;
  left: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.SecondNav .links-wrapper {
  visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.SecondNav button {
  width: 40%;
  height: 50%;
  background: rgba(134, 170, 87, 0.74);
  font-weight: bold;
  padding: 1em 0;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  transform-origin: 50% 100%;
}

.SecondNav button:hover {
  background: rgba(81, 103, 52, 0.74);
}

.SecondNav {
  z-index: 21;
}

.ThirdNav {
  width: 28rem;
  height: 28rem;
  background: rgba(81, 103, 52, 0.2);
  border-radius: 50%;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.ThirdNav .links-wrapper {
  width: 0;
  height: 0;
  display: flex;
  justify-content: center;
}

.ThirdNav button {
  width: 40%;
  height: 50%;
  font-weight: bold;
  padding: 1em 0;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  transform-origin: 50% 100%;
}

.ThirdNav button:hover {
  border: 2px solid rgba(255, 246, 118, 0.637);
  background: rgba(255, 249, 160, 0.075);
}

.ThirdNav button:hover span {
  box-shadow: 0px -18px 10px -5px black;
  animation: float 1s ease-in-out infinite alternate;
}

.ThirdNav button:nth-child(1):hover span,
.ThirdNav button:nth-child(2):hover span {
  box-shadow: 0px 18px 10px -5px black;
}

@keyframes float {
  0% {
    transform: translateY(50%) scale(1);
  }
  100% {
    transform: translateY(30%) scale(1.1);
  }
}

.ThirdNav {
  z-index: 31;
}

.BasketNav {
  width: 14rem;
  height: 14rem;
  background: rgba(54, 69, 35, 0.2);
  border-radius: 50%;
  font-size: 5rem;
  position: absolute;
  top: 0;
  left: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.BasketNav button {
  visibility: hidden;
  width: 100%;
  height: 100%;
  font-weight: bold;
  padding: 1em 0;
  justify-content: center;
}

.BasketNav button:hover {
  border: 2px solid rgba(255, 246, 118, 0.637);
  background: rgba(255, 249, 160, 0.075);
}

.BasketNav button:hover span i {
  box-shadow: 0px 32px 10px -4px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: float 1s ease-in-out infinite alternate;
}

@keyframes float {
  0% {
    transform: translateY(0%) scale(1);
  }
  100% {
    transform: translateY(10%) scale(1.1);
  }
}

.BasketNav {
  z-index: 41;
}

.Navigation {
  z-index: 14;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: black;
  display: grid;
  place-items: center;
  z-index: 3000;
  display: none;
}

.clock {
  position: relative;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  border: 2px solid white;
  display: grid;
  justify-items: center;
  overflow: hidden;
}

.clock .element {
  position: absolute;
  width: 14.28rem;
  height: 50%;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  border: 2px solid red;
  transform-origin: 50% 100%;
  overflow: hidden;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.clock .element:hover {
  background: green;
}

.clock .element:nth-child(1) {
  transform: rotate(30deg);
}

.clock .element:nth-child(2) {
  transform: rotate(60deg);
}

.clock :nth-child(3) {
  transform: rotate(90deg);
}

.clock :nth-child(4) {
  transform: rotate(120deg);
}

.clock :nth-child(5) {
  transform: rotate(150deg);
}

.clock :nth-child(6) {
  transform: rotate(180deg);
}

.dot {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background: white;
  border-radius: 50%;
}

.videoBg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.videoBg video {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.App {
  z-index: 2;
}

.gsapObject {
  width: 50vh;
  height: 50vh;
  background: black;
  color: white;
  border: 2px solid red;
}
/*# sourceMappingURL=style.css.map */