$Color1: rgb(234, 248, 246);
$Color2: darken($Color1, 10%);
$Color3: darken($Color1, 20%);
$Color4: darken($Color1, 30%);
$Color5: darken($Color1, 40%);
$Color6: darken($Color1, 50%);
$Color7: darken($Color1, 60%);
$Color8: darken($Color1, 70%);
$Color9: darken($Color1, 80%);
$Color10: darken($Color1, 90%);
$Color11: darken($Color1, 100%);